@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
body{
    font-family:'Roboto',sans-serif;
    margin: 0
}
.list-grid {
    display:grid;
    grid-template: auto / repeat(4,1fr);
    gap:1em;
    justify-items:center;
}
.item{
    background: #efefef;
    padding:0em 1em;
    border: solid 1px black;
    text-align: center;
}
.item:hover{
    background: #dfdfdf;
    box-shadow: 0 1px #00000060;
}
.item a{
    text-align:center;
    margin-left:auto;
}

.rating{
    text-align:left;
    padding:0.5em;
    z-index:10;
}
.star-svg{
    width:1em;
    height:1em;
    position:relative;
    display:inline;
}

.rating .star-svg{
    opacity: 0%;
    transition: transform 1s ease, opacity 1s ease;

}
.rating:hover .star-svg{
    opacity:100%;
}
.star1{
    z-index:10;
}
.star2{
    z-index:9;
    left:-1em;
}
.star3{
    z-index:8;
    left:-2em;
}
.star4{
    z-index:7;
    left:-3em;
}
.rating:hover .star2{
    transform: translate(1em,0);
}
.rating:hover .star3{
    transform: translate(2em,0);
}
.rating:hover .star4{
    transform: translate(3em,0);
}


header{
    padding:16px;
    border-bottom: 1px solid #000000;
    background-color: #D03030;
}
header a{
    color:white;
    font-weight:bold;
}
main {
    padding:16px;
}
#page-head{
    color:seagreen;
    font-weight:700;
    font-family:'Quicksand';
    margin: 0.5em 0 0 0;
}
#subhead{
    font-family:'Quicksand';
    font-weight:200;
    font-size:1.3em;
    margin: 0 0 1.5em 0;
}
.divide{
    margin-top:1.5em;
}
thead{
    font-weight:bold;
}
img{
    height:200px;
    display:block;
}
footer{
    box-sizing:border-box;
    position:sticky;
    padding:2em;
    bottom:0px;
    width:100%;
    background-color: darkseagreen;
    color:#606060
}
a{
    text-decoration:none;
    padding:inherit;
    color:green;
}
a:hover{
    color:green;
    background-color:#FEC0C0;
}

tbody tr:nth-child(even)
{
    background-color:lightgrey;
}
td{
    padding: 0.3em;
}

